VITE_API_URL=http://localhost:3000/api/
VITE_APP_URL=http://localhost:5173
VITE_MSAL_ID=b0463cc4-9086-4e9d-8ad7-779246d72771
VITE_TENANT_ID=01708f05-25e1-4d84-a5f4-86558a6b8b0e
VITE_COPOMEX_API_KEY=pruebas
VITE_TINYMCE=zug2pz0z6fboh77x8qi602bnuijtr4dn3s9oo21we3lffaoo
VITE_COPOMEX_API_URL=https://api.copomex.com/query