VITE_API_URL="https://api.isalegal.app/api/"
VITE_APP_URL="https://www.isalegal.app/"
VITE_MSAL_ID="01f96e1f-7eed-4628-b188-3efe3d2c0a37"
VITE_TENANT_ID="01708f05-25e1-4d84-a5f4-86558a6b8b0e"
VITE_TINYMCE="zug2pz0z6fboh77x8qi602bnuijtr4dn3s9oo21we3lffaoo"
